{% extends "base.html" %}

{% block content %}

    <h2>{{ coffer }}</h2>
    {% if recurring_transactions %}
        <table>
        <caption>Upcoming Recurring Transactions</caption>
        <thead>
            <tr>
            <th class="type">Type</th>
            <th class="date">Last Transaction</th>
            <th class="freq">Frequency</th>
            <th class="description">Description</th>
            <th class="date">Due Date</th>
            <th class="amount">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for rt in recurring_transactions %}
            <tr class="{% cycle '' 'alternate ' %}{{ rt.get_type }}">
            <td>{{ rt.get_transaction_type_display }}</td>
            <td>{{ rt.last_transaction_date|date:"M n, Y" }}</td>
            <td>{{ rt.get_frequency_display }}</td>
            <td><a href="{{ rt.get_edit_url }}">{{ rt.description }}</a></td>
            <td>{{ rt.due_date|date:"M n, Y" }}</td>
            <td>{{ rt.amount }}</td>
            </tr>
        {% endfor %}    
        </tbody>
        </table>
    {% endif %}

    <p>&rarr; <a href="{% url moneybags-new-transaction coffer.slug %}">Enter a Transaction</a></p>

    {% if transactions %}
        <div id="balance"{% if overdrawn %}class="overdrawn"{% endif %}><em>Balance:</em> {{ balance }}</div>
        <form action="{% url moneybags-coffer-update coffer.slug %}" method="post">{% csrf_token %}
        {{ formset.management_form }}
        <table>
        <caption>Recent Transactions</caption>
        <thead>
            <tr>
            <th>&nbsp;</th>
            <th class="type">Type</th>
            <th class="date">Date</th>
            <th class="ckno"><abbr title="Check Number">Ck no.</abbr></th>
            <th class="description">Description</th>
            <th class="amount">Amount</th>
            </tr>
            <tr>
            <td class="selectall"></td>
            <td colspan="5">
            <button type="submit" id="id_remove_pending" name="action" value="remove-pending">Remove Pending</button>
            <button type="submit" id="id_delete" name="action" value="delete">Delete</button>
            </td>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
            <td class="selectall"></td>
            <td colspan="5">
            <button type="submit" id="id_remove_pending" name="action" value="remove-pending">Remove Pending</button>
            <button type="submit" id="id_delete" name="action" value="delete">Delete</button>
            </td>
            </tr>
        </tfoot>
        
        <tbody>
        {% for t in transactions %}
            <tr class="{% cycle '' 'alternate ' %}transaction {% if t.is_credit %}credit{% else %}debit{% endif %} {% if t.recurring %}recurring{% endif %} {% if t.pending %}pending{% endif %}">
            <td>
                {% for form in formset.forms %}
                    {% ifequal form.initial.object_id t.id %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            </td>
            <td>{% if t.is_credit %}Credit{% else %}Debit{% endif %}</td>
            <td>{{ t.date|date:"M n, Y" }}</td>
            <td>{% if t.check_no %}{{ t.check_no }}{% else %}{% endif %}</td>
            <td><a href="{{ t.get_absolute_url }}">{{ t.description }}</a></td>
            <td>{% if t.is_credit %}({{ t.amount }}){% else %}{{ t.abs_amount }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </form>
    {% else %}
        {% if balance %}
            {# There have obviously been *some* transactions, just not recently #}
            <div id="balance"{% if overdrawn %}class="overdrawn"{% endif %}><em>Balance:</em> {{ balance }}</div>
            <p>You don't have any recent transactions.</p>
        {% else %}
            <p>You currently have no transactions.</p>
        {% endif %}
    {% endif %}
    <p>&rarr; <a href="{% url moneybags-new-transaction coffer.slug %}">Enter a Transaction</a></p>

{% endblock %}

