{% extends "moneybags/base.html" %}
{% load url from future %}

{% block content %}

    <h1>{{ account }} <small id="balance"
        class="{% if overdrawn %}text-error{% else %}text-info{% endif %}">
        Balance: $ {{ balance|floatformat:2 }}</small>
    </h1>

    <div class="clearfix">
    <a href="{% url 'moneybags-create-transaction' account.slug %}"
       class="pull-right btn btn-primary">New Transaction</a>
    </div>
    {% if recurring_transactions %}
        <table class="table tabled-border">
        <caption class="lead">Upcoming Recurring Transactions</caption>
        <thead>
            <tr>
            <th class="type">Type</th>
            <th class="date">Due</th>
            <th class="freq">Frequency</th>
            <th class="description">Description</th>
            <th class="amount">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for rt in recurring_transactions %}
            {% with t=rt.get_type %}
            <tr class="{% if t == "credit" %}success{% elif t == "debit" %}error{% endif %}
                       {{ type }}">
            <td>
                {% if t == "credit" %}
                    <span class="label label-success">Credit</span>
                {% elif t == "debit" %}
                    <span class="label label-important">Debit</span>
                {% else %}
                    <span class="label">unknown</span>
                {% endif %}
            </td>
            <td>{{ rt.due_date|date:"M j, Y" }}</td>
            <td>{{ rt.get_frequency_display }}</td>
            <td><a href="{{ rt.get_edit_url }}">{{ rt.description }}</a></td>
            <td><strong>{{ rt.amount|floatformat:2 }}</strong></td>
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
        </table>
        <hr/>
    {% endif %}


    {% if transactions %}
        <form action="{% url 'moneybags-update-transactions' account.slug %}"
              method="post">{% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-striped">
        <caption class="lead">Recent Transactions</caption>
        <thead>
            <tr>
            <th>&nbsp;</th>
            <th class="type">Type</th>
            <th class="date">Date</th>
            <th class="ckno"><abbr title="Check Number">Ck no.</abbr></th>
            <th class="description">Description</th>
            <th class="amount">Amount</th>
            </tr>

            {% comment %}
            <tr>
            <td class="selectall"></td>
            <td colspan="5">
            <button type="submit" id="id_remove_pending" name="action" value="remove-pending" class="btn">Remove Pending</button>
            <button type="submit" id="id_delete" name="action" value="delete" class="btn">Delete</button>
            </td>
            </tr>
            {% endcomment %}
        </thead>

        <tfoot>
            <tr>
            <td class="selectall"></td>
            <td colspan="5">
            <button type="submit" id="id_remove_pending" name="action"
                    value="remove-pending" class="btn btn-info">Remove Pending</button>
            <button type="submit" id="id_delete" name="action" value="delete"
                    class="btn btn-danger">Delete</button>
            </td>
            </tr>
        </tfoot>

        <tbody>
        {% for t in transactions %}
            <tr class="transaction {% if t.is_credit %}credit{% else %}debit{% endif %}
            {% if t.recurring %}recurring{% endif %} {% if t.pending %}pending muted{% endif %}">

            {# Checkbox from the formset #}
            <td>
                {% for form in formset.forms %}
                    {% ifequal form.initial.object_id t.id %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            </td>

            {# Transaction Type #}
            <td>
                {% if t.is_credit %}
                    <span class="label label-success">Credit</span>
                {% else %}
                    <span class="label label-important">Debit</span>
                {% endif %}
                {% if t.recurring %}
                    <span class="label label-info">Recurring</span>
                {% endif %}
                {% if t.pending %}
                    <span class="label">Pending</span>
                {% endif %}
            </td>

            {# Transaction Date #}
            <td>
                {{ t.date|date:"M j, Y" }}
            </td>

            {# Check number if appropriate #}
            <td>
                {% if t.check_no %}{{ t.check_no }}{% else %}{% endif %}
            </td>

            {# Description #}
            <td>
                <a href="{{ t.get_absolute_url }}">{{ t.description }}</a>
            </td>

            {# Amount #}
            <td>
                {% if t.is_credit %}
                    ({{ t.amount|floatformat:2 }})
                {% else %}
                    {{ t.abs_amount|floatformat:2 }}
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </form>

        {# ---------------- Pagination ----------------------- #}
        <div class="pagination pagination-centered">
        <ul>
        {% if transactions.has_previous %}
            <li><a href="?page={{transactions.previous_page_number}}">Prev</a></li>
        {% else %}
            <li class="disabled"><a href="#">Prev</a></li>
        {% endif %}

        {% for p in transactions.paginator.page_range %}
            <li><a{% if p == transactions.number %} class="active"{% endif %}
                  href="?page={{ p }}">{{ p }}</a></li>
        {% endfor %}

        {% if transactions.has_next %}
            <li><a href="?page={{transactions.next_page_number}}">Next</a></li>
        {% else %}
            <li class="disabled"><a href="#">Next</a></li>
        {% endif %}
        </ul>
        </div>
        {# ------------- End Pagination ----------------------- #}

    {% else %}
        {% if balance %}
            {# There have been *some* transactions, just not recently #}
            <p>You don't have any recent transactions.</p>
        {% else %}
            <p>You currently have no transactions.</p>
        {% endif %}
    {% endif %}
{% endblock %}
