{% extends "moneybags/base.html" %}
{% load url from future %}

{% block content %}
    <h2>Accounts</h2>
    <p>&rarr; <a href="{% url 'moneybags-create-account' %}">Create an Account</a></p>
    {% if accounts %}
        <table>
        <caption>Accounts &amp; Balances</caption>
        <thead>
            <tr>
            <th>Account</th>
            <th>Balance</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
            <td><a href="{{ account.get_absolute_url }}">{{ account }}</a></td>
            <td>{{ account.get_balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>You haven't set up any Accounts yet.  <a href="{% url 'moneybags-create-account' %}">Create One</a>!</p>
    {% endif %}

{% endblock %}

