{% extends "moneybags/base.html" %}
{% load url from future %}

{% block content %}
    <h2>{{ account }}: Recurring Transaction</h2>

    <p class="notice">
    You're updating a <em>Recurring {{ recurring_transaction.get_transaction_type_display }}</em> called
    <strong>{{ recurring_transaction.description }}</strong>. This will automatically show up in your
    account as a <em>Pending</em> transaction after the designated amount of time.
    </p>

    {% if form %}
    <form action="{{ recurring_transaction.get_edit_url }}" method="post">{% csrf_token %}
    <fieldset><legend>{{ recurring_transaction.description }}</legend>
    <ul>
    {{ form.as_ul }}
    <li class="submitbutton"><input type="submit" value="Save"/></li>
    </ul>
    </fieldset>
    </form>
    {% endif %}
{% endblock %}

