{% extends "base.html" %}

{% block content %}

    {% if transactions %}
        <table>
        <caption>{{ account }}: ${{ balance }}</caption>
        <thead>
            <tr>
            <th>id</th>
            <th>Type</th>
            <th>Date</th>
            <th><abbr title="Check Number">Ck no.</abbr></th>
            <th>Description</th>
            <th>Amount</th>
            <th class="optional">Recurring?</th>
            <th>Pending</th>
            <th>Updated On</th>
            </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
            <tr class="transaction {% if t.is_credit %}credit{% else %}debit{% endif %} {% if t.recurring %}recurring{% endif %} {% if t.pending %}pending{% endif %}">
            <td>{{ t.id }}</td>
            <td>{% if t.is_credit %}Credit{% else %}Debit{% endif %}</td>
            <td>{{ t.date }}</td>
            <td>{{ t.check_no }}</td>
            <td>{{ t.description }}</td>
            <td>{% if t.is_credit %}({{ t.amount }}){% else %}{{ t.abs_amount }}{% endif %}</td>
            <td>{{ t.recurring|yesno }}</td>
            <td>{{ t.pending|yesno }}</td>
            <td>{{ t.updated_on }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>You currently have no transactions.</p>
    {% endif %}
    <p style="margin-top: 1em; text-align: right;">&rarr; <a href="{% url coffers-new-transaction account.slug %}">Enter a Transaction</a>.</p>

{% endblock %}

