{% extends "base.html" %}

{% block content %}
    <h2>Accounts</h2>
    <p>&rarr; <a href="{% url coffers-accounts-create %}">Create an Account</a></p>
    {% if accounts %}
        <ul>
        {% for account in accounts %}
            <li><a href="{{ account.get_absolute_url }}">{{ account }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't set up any Accounts yet.  <a href="{% url coffers-accounts-create %}">Create One</a>!</p>
    {% endif %}
    
{% endblock %}

