{% extends "base.html" %}

{% block content %}

    {% if recurring_transactions %}
        <table>
        <caption>Don't Forget!</caption>
        <thead>
            <tr>
            <th>Type</th>
            <th>Due Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Last Transaction</th>
            <th>Started On</th>
            </tr>
        </thead>
        <tbody>
        {% for rt in recurring_transactions %}
            <tr class="{% cycle '' 'alternate ' %}{{ rt.get_type }}">
            <td>{{ rt.get_transaction_type_display }}</td>
            <td>{{ rt.due_date }}</td>
            <td>{{ rt.description }}</td>
            <td>{{ rt.amount }}</td>
            <td>{{ rt.get_frequency_display }}</td>
            <td>{{ rt.last_transaction_date }}</td>
            <td>{{ rt.frequency_start_date }}</td>
            </tr>
        {% endfor %}    
        </tbody>
        </table>
    {% endif %}

    <p style="margin-top: 1em; text-align: right;">&rarr; 
    <a href="{% url coffers-new-transaction account.slug %}">Enter a Transaction</a></p>

    {% if transactions %}
        <form action="{% url coffers-account-update account.slug %}" method="post">{% csrf_token %}
        {{ formset.management_form }}
        <table>
        <caption>{{ account }}: ${{ balance }}</caption>
        <thead>
            <tr>
            <th>&nbsp;</th>
            <th>Type</th>
            <th>Date</th>
            <th><abbr title="Check Number">Ck no.</abbr></th>
            <th>Description</th>
            <th>Amount</th>
            <th class="optional">Recurring?</th>
            <th>Pending</th>
            <th>Updated On</th>
            </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
            <tr class="{% cycle '' 'alternate ' %}transaction {% if t.is_credit %}credit{% else %}debit{% endif %} {% if t.recurring %}recurring{% endif %} {% if t.pending %}pending{% endif %}">
            <td>
                {% for form in formset.forms %}
                    {% ifequal form.initial.object_id t.id %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            </td>
            <td>{% if t.is_credit %}Credit{% else %}Debit{% endif %}</td>
            <td>{{ t.date }}</td>
            <td>{% if t.check_no %}{{ t.check_no }}{% else %}{% endif %}</td>
            <td><a href="{{ t.get_absolute_url }}">{{ t.description }}</a></td>
            <td>{% if t.is_credit %}({{ t.amount }}){% else %}{{ t.abs_amount }}{% endif %}</td>
            <td>{{ t.recurring|yesno }}</td>
            <td>{{ t.pending|yesno }}</td>
            <td>{{ t.updated_on }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <p>
            <button type="submit" id="id_remove_pending" name="action" value="remove-pending">Remove Pending</button>
            <button type="submit" id="id_delete" name="action" value="delete">Delete</button>
        </p>
        </form>
    {% else %}
        {% if balance %}
            {# There have obviously been *some* transactions, just not recently #}
            <h2>{{ account }}: ${{ balance }}</h2>
            <p>You don't have any recent transactions.</p>
        {% else %}
            <p>You currently have no transactions.</p>
        {% endif %}
    {% endif %}
    <p style="margin-top: 1em; text-align: right;">&rarr; 
    <a href="{% url coffers-new-transaction account.slug %}">Enter a Transaction</a></p>

{% endblock %}

