{% extends "base.html" %}

{% block content %}

    <h2><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></h2>
    <table class="transactiondetail">
    <caption>{{ transaction.description }}</caption>
    <tbody>
    <tr><th>Date</th><td>{{ transaction.date|date:"M j, Y" }}</td></tr>
    {% if transaction.check_no %}<tr><th>Check Number</th><td>{{ transaction.check_no }}</td></tr>{% endif %}
    <tr class="alternate"><th>Amount</th><td>{{ transaction.amount }}</td></tr>
    <tr><th>Type:</th><td>{{ transaction.get_transaction_type_display }}</td></tr>
    <tr class="alternate"><th>Pending</th><td>{{ transaction.pending|yesno }}</td></tr>
    <tr><th>Recurring</th><td>{{ transaction.recurring|yesno }}</td></tr>
    <tr class="alternate"><th>Last Updated</th><td>{{ transaction.updated_on|date:"M j, Y g:ia" }}</td></tr>
    </tbody>
    </table>

    {% if similar_transactions %}
        <table>
        <caption>Similar Transactions</caption>
        <thead>
            <tr>
            <th>Date</th>
            <th>Check No</th>
            <th>Amount</th>
            <th>Updated On</th>
            </tr>
        </thead>
        <tbody>
        {% for t in similar_transactions %}
            <tr class="transaction{% if t.pending %} pending{% endif %}{% cycle '' ' alternate'%}">
            <td>{{ t.date|date:"Y-m-d" }}</td>
            <td>{% if t.check_no %}{{ t.check_no }}{% else %}n/a{% endif %}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.updated_on|date:"Y-m-d g:ia" }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
